/* HACKS */

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


/* LAYOUT */

body {
	background: url(../images/city.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid {
	width:1600px;
	margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
	width: 300px;
	border-radius: 5px;
	margin-bottom:20px;
	border: black;
}

img {
	border-color: black;
}

.city {
	width: 600px;
}

.me {
	width:600px;
}

}
.grid-item img {
	width: 100%;
	border-radius: 5px;
}

.moon {
	width: 400px;
}

.caption {
    position: relative;
    overflow: hidden;
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}

.caption:hover .caption__overlay {
    transform: translateY(0);
}





