body {
	color: black;
}

h2 { 
	text-align: center;
	color: black;
}
p {
	color: black;
}

/* Inherited CSS

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.row {
	margin-top: 40px;
}

.row p {
	margin-top: 20px;
}
