body {
	color: black;
}


}
.container {
	color: black;
	text-align: center;
	margin-top: 40px;
}
.aboutme h2 { 
	text-align: center;
	color: black;
	margin-top: 40px;
}
.aboutme p {
	color: black;
	padding-left: 30px;
	padding-right: 30px;
}

/* Inherited CSS

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.row {
	margin-top: 40px;
	color: black;
}

.row p {
	margin-top: 20px;
	color: black;
}
