

body {
	background-image: url(../images/coffee2.jpg);
	background-size: cover;
	color: #707070 ;
}

h1 {
	text-align: center;
	color: #C8C8C8 ;
	font-variant: small-caps;
}
.info p {
	text-align: center;
	font-weight: 200;
	margin-top: 15px;
	color: #C8C8C8 ;
}


.experience p {
	text-align: center;
	color: #C8C8C8 ;
}
.resume {
	margin-left: 30px;
}
.resume li {
	font-weight: 300;
}
.resume p {
	font-weight: normal;
}

