/* HACKS */

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


/* ----LAYOUT------ */

body {
  
  /*margin: 20px;*/
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding top: 70px;
  
}

/*---Nav bar shit--*/

.navbar-fixed-top {
  background-color: #222;
  border-color: #080808;
  opacity: .7;

}


 .navbar-collapse li a:hover {
  color: red;
}

ul.nav.navbar-nav li {border: none;}

ul.nav.navbar-nav li a {color:#D8D8D8 ;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, ul.dropdown-menu {
  background-color: inherit;
}

.img-circle {
  width: 50px;
  height: 50px;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {-webkit-transform: rotate(180deg);}
}

/* Standard syntax */
@keyframes mymove {
    50% {transform: rotate(180deg);}
}

/*---First Slide CSS----*/

#home {
  background: url(../images/raincity.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 
main p {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  color:#D8D8D8 ;
  margin-top: 44%;
  margin-left: 2%;
  font-style: bold;
  display: none;

}


.red {
  color: red;
  font-size:1em;
  display: inline-block;
}


/*---ABOUT ME CSS--- */

#aboutme {
  background: url(../images/leather-661350_1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid {
  width: 1800px;

  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item and caption text overlay CSS ---- */

.grid-item {
  width: 300px;
  border-radius: 5px;
  margin-bottom:20px;
  border: black;
}

.caption {
    position: relative;
    overflow: hidden;
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}

.caption:hover .caption__overlay {
    transform: translateY(0);
}

.grid-item img {
  width: 100%;
  border-radius: 5px;
}

.city {
  width: 400px;
}

.me {
  float: left;
  border-radius: 5px;
  color: white;
 
}

.me article { 
  background-color: #222;
  border-color: #080808;
  opacity: .7;

}



.me article p {
  color: gray;
  font-size: .8em;
  font-family: "Courier New", Courier, monospace;
  color:#D8D8D8 ;
  padding-left: 1%;
  text-align: center;
  height: 450px;
  width: 300px;
  overflow: scroll;
}

.bar {

}

/*---this is the third slight --the #aboutme2 portion---*/



.stools {

}




/*--- End of ABOUT ME CSS ---*/
/*---RESUME CSS --*/
#resume {
  background: url(../images/coffee2.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#resume h1 {
  text-align: center;
  color: #C8C8C8 ;
  font-variant: small-caps;
}
.info p {
  text-align: center;
  font-weight: 200;
  margin-top: 15px;
  color: #C8C8C8 ;
}


.experience p {
  text-align: center;
  color: #C8C8C8 ;
}
.resume {
  margin-left: 30px;
}
.resume li {
  font-weight: 300;
}
.resume p {
  font-weight: normal;
}












@media screen and (min-width: 360px) {
  .circular img {
  display: block;
  margin: 0 auto;
  width: 225px;
  height: 225px;
  border-radius: 125px;
}
 


}


@media screen and (min-width: 680px) {

#sky p {
    display: inline-block;
  }

}


}


