body {
  border-color: white;
  color:gray;
  /*margin: 20px;*/
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding bottom: 0px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color: black;
  margin-left: 240px;
  margin-top: 15px;
}

.btn a {
  font-size: 20px;
  font-weight: lighter;
  background-color: black;
  color: white;
}
.circular img {
  vertical-align: center;
  margin-left: 445px;
  margin-top: 125px;
  width: 225px;
  height: 225px;
  border-radius: 125px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  border-style: solid;
  border-color: white;
}









