/* HACKS */

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


/* ----LAYOUT------ */

body {
  
  /*margin: 20px;*/
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding top: 70px;
  min-width: 100%;
  
}

/*---Nav bar shit--*/

.navbar-fixed-top {
  background-color: #222;
  border-color: #080808;
  opacity: .7;

}


 .navbar-collapse li a:hover {
  color: red;
}

ul.nav.navbar-nav li {border: none;}
ul.nav.navbar-nav li:hover {color: inherit;}

ul.nav.navbar-nav li a {color:#D8D8D8 ;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, ul.dropdown-menu {
  background-color: #222;
  border-color: #080808;
}

.img-circle {
  width: 50px;
  height: 50px;
  }



/*---First Slide CSS----*/

#home {
  background: url(../images/raincity.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


 
main p {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  color:#D8D8D8 ;
  margin-top: 44%;
  margin-left: 2%;
 font-weight: 500;
  display: none;

}

.mobile {
  font-size: 2em;
  padding-left: 30%;
  padding-top: 110%;
  font-style: bold;
  font-family: 'Playfair Display', serif;
  color:#D8D8D8 ;
}



.red {
  color: red;
  font-size:1em;
  display: inline-block;
}


/*---ABOUT ME PAGE CSS--- */

#aboutme {
  background: url(../images/street-839820_1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
}




.me {
  margin-top: 70px;
  float: left;
  border-radius: 5px;
  margin-left: 40px;
  width: 300px;

}

.me img {
  width: inherit;
  border-radius: 5px;
}
.me article { 
  border:thin black;
  background-color: #222;
  border-color: #080808;
  opacity: .7;

}
.me article p {
  font-size: .9em;
  font-family: "Courier New", Courier, monospace;
  color: white;
 
  padding: 1.5%;
  text-align: left;
  height: 400px;
  width: inherit;
  overflow-y: scroll;
}

/* Let's get this party started */
.me article p::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

/*---Gallery CSS---*/

#aboutme main {
  float: left;
  margin-top: 455px;
  margin-left: 30px;
  border: thin;
  background-color: #222;
  border-color: #080808;
  opacity: .7;
  border-radius: 5px;

}

.gallery {
  display: none;
}

.gallery article {
  float: left;
  margin: 10px;
}

.gallery img {

  width: 150px;
  height: 150px;
  border-radius: 100px;

}

.caption h1 {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-align: center;
}



/*--- End of ABOUT ME CSS ---*/





/*--Masonry grid-item CSS--*/
/*---end masonry css---*/

#grid-page{
  background: url(../images/sparklylight.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  

}

.grid {
  margin-left: 40px;
  padding-top: 70px;
  float: left;
 
}

/* clearfix */
.grid:after {
  content: '';
  display: relative;
  clear: both;
}


.grid-sizer,.grid-item {
  width: 250px;
}

.grid-item {
  float: left;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  
}

.grid-item img {
  width: inherit;
  border-radius: 5px;
}



.grid-item-w2 video {
  width: inherit;

}
.navbox {
  float: left;
  padding-top: 70px;
  margin-top: 100px;
  margin-left: 20px;
  width: 60px;
  height: 400px;
  background-color: #222;
  
  border-style: thin;
  border-color: #080808;
  opacity: .7;
  
}



.controls h2 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  color:#D8D8D8 
}


.controls img {
  margin-left: 5px;
  
}

.controls a {

  font-size: 20px;
  width: inherit;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  float: left;
  margin-bottom: 50px;
  
}


.overlay-image {
height: 169px;
box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
/*border-bottom:2px solid #fff;
border-right:2px solid #fff;*/
background:url(../images/dwp.jpg);
background-size: cover;
border-radius:5px;

}

.overlay-image2 {
height: 169px;
box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
/*border-bottom:2px solid #fff;
border-right:2px solid #fff;*/
background:url(../images/cd2.jpg);
background-size: cover;
border-radius:5px;


}

.overlay {
  height: inherit;
  width: inherit;
  background:rgba(0,0,0,.75);
  text-align:center;
  padding-top: 70px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.overlay-image:hover .overlay {
  opacity: 1;
}
.overlay-image2:hover .overlay {
  opacity: 1;
}
#filter {  

   font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  color:#D8D8D8 
}

#filter a {  

   font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  color:#D8D8D8 
             }



/*Media Queries*/



@media screen and (min-width: 360px) {
 


}


@media screen and (min-width: 700px) {

#sky p {
    display: inline-block;
    padding-top:30%;
  }
 .gallery {
  display: inline-block;
 }
 
 .mobile {
  display: none;
 }

 

}

@media screen and (min-width: 1000px) {
.mobile {
  display: none;
} 

#sky p {
    display: inline-block;
    padding:0;
  }
}





